<html>
    <head>
        <!-- Semantic UI -->
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="base.css">
        <link rel="stylesheet" type="text/css" href="board.css">
        <script src="semantic/semantic.min.js"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="header" class="">
            <div id="navigation" class="ui stackable secondary pointing menu">
                <div class="left menu">
                    <div class="right item">
                        <div class="item">
                            DGIST 총학생회
                        </div>
                        <div class="ui simple dropdown item">
                            총학생회 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">DGIST 총학생회 LINK</a>
                            <a class="item" href="#">조직도</a>
                            <a class="item" href="{% url 'notice' %}">공지사항</a>
                            <a class="item" href="#">주요 학생회 성과</a>
                            <a class="item" href="#">학생회칙</a>
                            <a class="item" href="#">공약 게시판</a>
                            <a class="item" href="#">회의록</a>
                            <a class="item" href="#">예/결산</a>
                            <a class="item" href="#">기타</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            투표 / 설문 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="{% url 'vote' %}">투표</a>
                            <a class="item" href="{% url 'survey' %}">설문</a>
                            <a class="item" href="{% url 'debate' %}">토론/토의</a>
                            <a class="item" href="#">토론 및 설문 진행상황</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            건의 / 제보 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">학생회에 건의합니다</a>
                            <a class="item" href="#">학생회에 질문합니다</a>
                            <a class="item" href="#">학생회에 제안합니다</a>
                            <a class="item" href="#">학생회에 제보합니다</a>
                            <a class="item" href="#">자주 묻는 질문</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            행사 / 프로젝트 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">우리들의 행사</a>
                            <a class="item" href="#">팀원 구합니다</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            Study Platform <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">Study Guide</a>
                            <a class="item" href="#">과목별 튜터링</a>
                            <a class="item" href="#">튜터 게시판</a>
                            <a class="item" href="#">자료 게시판</a>
                            <a class="item" href="#">자유 게시판</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right menu">
                    <div class="right item">
                        <div class="ui action input">
                            <input type="text" placeholder="정보 입력">
                            <div class="ui button">검색</div>
                        </div>
                        <a class="item">회원가입</a>
                        <a class="item">로그인</a>
                        <a class="item">my DGIST</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="side-bar" class="ui vertical menu">
                <div class="item">
                    <h3 class="ui header">총학생회</h4>
                    <div class="menu">
                    <a class="item">DGIST 총학생회 LINK</a>
                    <a class="item">조직도</a>
                    <a class="item">공지사항</a>
                    <a class="item">주요 학생회 성과</a>
                    <a class="item">학생회칙</a>
                    <a class="item">공약 게시판</a>
                    <a class="item">회의록</a>
                    <a class="item">예 / 결산</a>
                    <a class="item">기타</a>
                    </div>
                </div>
            </div>
            <div id="content" class="">
                <div id="board-view" class="ui segment">
                    <h2 class="ui center aligned header">베로나의 이승우 챙기기, "LEE, A매치 2연전 앞둬"</h2>
                    <div class="ui clearing divider"></div>
                    <h4 class="ui right floated header">작성자: 이현호</h2>
                    <div class="ui clearing divider"></div>
                    <p>[인터풋볼] 이현호 기자=헬라스 베로나가 소속팀 선수인 이승우의 소식에 큰 관심을 보이고 있다.<br/><br/>
                        이승우가 활약하는 베로나는 4일(한국시간) 공식 홈페이지릍 통해 "파울루 벤투 감독이 이끄는 한국 대표팀에 이승우가 소집됐다"면서 "한국 대표팀은 고양에서 코스타리카를 상대하고, 수원에서 칠레와 경기를 치른다. 아시안게임에서 우승한 이승우는 A매치 2연전을 앞두고 있다"라며 이승우와 한국 대표팀 소식을 세세하게 전했다.<br/><br/>
                        새 사령탑 벤투 감독이 이끄는 한국 축구대표팀은 지난 27일 '벤투호 1기' 명단을 발표했다. 이승우는 손흥민, 황희찬, 황의조, 지동원, 문선민과 함께 공격수로 발탁됐다. 이승우의 소속팀 베로나는 이 같은 이승우의 대표팀 소식을 현지 팬들에게 빠르게 전해주고 있다.<br/><br/>
                        베로나의 이승우 챙기기는 지난 2018 국제축구연맹(FIFA) 러시아 월드컵부터 부쩍 늘었다. 당시 이승우는 베로나 선수단 중 유일하게 러시아 월드컵에 출전한 선수였다. 이에 베로나는 "러시아 월드컵 잘 다녀와, 승우"라며 응원의 메시지를 전한 바 있다.<br/><br/>
                        이어 2018 자카르타 팔렘방 아시안게임에 나섰던 이승우를 향해서도 자세한 소식을 전했다. 특히 결승전에서 일본을 꺾고 금메달을 딴 직후에는 "이승우가 연장전에서 골을 넣고 일본을 제압했다. 아시안게임 우승을 축하한다"라며 한국 대표팀의 아시안게임 우승에 축하를 전했다.<br/><br/>
                    </p>
                    <div class="ui clearing divider"></div>
                    <div id="reaction">
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui button">
                                <i class="heart icon"></i> Like
                            </div>
                            <a class="ui basic label">
                                2,048
                            </a>
                        </div>
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui button">
                                <i class="fork icon"></i> share
                            </div>
                            <a class="ui basic label">
                                1,024
                            </a>
                        </div>
                    </div>
                    <div class="ui clearing divider"></div>
                    <div id="board-comments">    
                        <div class="ui comments" style="max-width:100%">
                            <h3 class="ui dividing header">Comments</h3>
                            <div class="comment">
                                <a class="avatar">
                                <img src="https://semantic-ui.com/images/avatar/small/matt.jpg" style="height:auto;">
                                </a>
                                <div class="content">
                                <a class="author">manner</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    쓰지도 않더니 ㅋㅋ 챙기는척 지리네ㅋㅋ이적료 라도 챙길 셈이냐??승우야 성장해서 미련없이 떠나자!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg" style="height:auto;">
                                </a>
                                <div class="content">
                                <a class="author">ㅇㅇㅇ</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>ㅋㅋ 베로나에 국가대표선수 이승우밖에 없을걸?</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                                </div>
                                <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                    <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg" style="height:auto;">
                                    </a>
                                    <div class="content">
                                    <a class="author">Heiz</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        베로나 팀 경기를 꾸준히 챙겨봤는데...... 와.... 진짜 답 없는 팀이더라. 어떻게 세리에A로 승격했는가 싶다. 공격루트는 딱 하나임. 빌드업 과정 측면 이용해서 크로스 올리고 골 먹는거 or 세컨볼 따내기. ㄹㅇ로 이승우가 베로나 에이스라고 해도 과언이 절대 아니다.
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" style="height:auto;">
                                </a>
                                <div class="content">
                                <a class="author">바니</a>
                                <div class="metadata">
                                    <span class="date">1 days ago</span>
                                </div>
                                <div class="text">
                                    선발해주고 말해라
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                                </div>
                            </div>
                            <form class="ui reply form">
                                <div class="field">
                                <textarea></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="ui unstackable table">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th class="right aligned">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td class="right aligned">Requires call</td>
                        </tr>
                        <tr>
                        <td>Jill</td>
                        <td>Denied</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div id="page" class="ui pagination menu">
                    <a class="active item">
                      1
                    </a>
                    <div class="disabled item">
                      ...
                    </div>
                    <a class="item">
                      10
                    </a>
                    <a class="item">
                      11
                    </a>
                    <a class="item">
                      12
                    </a>
                </div>
            </div>
        </div>
        <div id="footer">

        </div>
    </body>
</html>