<html>
    <head>
        <!-- Semantic UI -->
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="base.css">
        <link rel="stylesheet" type="text/css" href="study_guide.css">
        <script src="semantic/semantic.min.js"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="header" class="">
            <div id="navigation" class="ui stackable secondary pointing menu">
                <div class="left menu">
                    <div class="right item">
                        <div class="item">
                            DGIST 총학생회
                        </div>
                        <div class="ui simple dropdown item">
                            총학생회 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">DGIST 총학생회 LINK</a>
                            <a class="item" href="#">조직도</a>
                            <a class="item" href="{% url 'notice' %}">공지사항</a>
                            <a class="item" href="#">주요 학생회 성과</a>
                            <a class="item" href="#">학생회칙</a>
                            <a class="item" href="#">공약 게시판</a>
                            <a class="item" href="#">회의록</a>
                            <a class="item" href="#">예/결산</a>
                            <a class="item" href="#">기타</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            투표 / 설문 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="{% url 'vote' %}">투표</a>
                            <a class="item" href="{% url 'survey' %}">설문</a>
                            <a class="item" href="{% url 'debate' %}">토론/토의</a>
                            <a class="item" href="#">토론 및 설문 진행상황</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            건의 / 제보 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">학생회에 건의합니다</a>
                            <a class="item" href="#">학생회에 질문합니다</a>
                            <a class="item" href="#">학생회에 제안합니다</a>
                            <a class="item" href="#">학생회에 제보합니다</a>
                            <a class="item" href="#">자주 묻는 질문</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            행사 / 프로젝트 <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">우리들의 행사</a>
                            <a class="item" href="#">팀원 구합니다</a>
                            </div>
                        </div>
                        <div class="ui simple dropdown item">
                            Study Platform <i class="dropdown icon"></i>
                            <div class="menu">
                            <a class="item" href="#">Study Guide</a>
                            <a class="item" href="#">과목별 튜터링</a>
                            <a class="item" href="#">튜터 게시판</a>
                            <a class="item" href="#">코스 게시판</a>
                            <a class="item" href="#">자유 게시판</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right menu">
                    <div class="right item">
                        <div class="ui action input">
                            <input type="text" placeholder="정보 입력">
                            <div class="ui button">검색</div>
                        </div>
                        <a class="item">회원가입</a>
                        <a class="item">로그인</a>
                        <a class="item">my DGIST</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="side-bar" class="ui vertical menu">
                <div class="item">
                    <h3 class="ui header">Study Platform</h4>
                    <div class="menu">
                    <a class="item">Study Guide</a>
                    <a class="item">과목별 튜터링</a>
                    <a class="item">튜터 게시판</a>
                    <a class="item">코스 게시판</a>
                    <a class="item">자유 게시판</a>
                    </div>
                </div>
            </div>
            <div id="content" class="">
                <h2>Study Guide</h2>
                <p>이곳은 학생들의 학업과 관련된 정보들을 취합, 논의하는 게시판입니다.</p>
                <table class="ui unstackable table">
                    <thead>
                        <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>조회수</th>
                        <th>추천수</th>
                        <th class="right aligned">태그</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td>Jamie</td>
                        <td>Approved</td>
                        <td class="right aligned">Requires call</td>
                        </tr>
                        <tr>
                        <td>Jill</td>
                        <td>Denied</td>
                        <td>Jill</td>
                        <td>Denied</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                        <tr>
                        <td>John</td>
                        <td>Approved</td>
                        <td>John</td>
                        <td>Approved</td>
                        <td class="right aligned">None</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div id="page" class="ui pagination menu">
                    <a class="active item">
                      1
                    </a>
                    <div class="disabled item">
                      ...
                    </div>
                    <a class="item">
                      10
                    </a>
                    <a class="item">
                      11
                    </a>
                    <a class="item">
                      12
                    </a>
                </div>
                <div id="course">
                    <div class="ui cards">
                        <div class="card">
                            <div class="content">
                                <div class="header">응용 미적분학과 미분방정식</div>
                                <div class="description">
                                    응용 미적분학과 미분방정식 관련 course입니다.
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                들어가기
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Elliot Fu</div>
                                <div class="description">
                                    Elliot Fu is a film-maker from New York.
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Elliot Fu</div>
                                <div class="description">
                                    Elliot Fu is a film-maker from New York.
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Elliot Fu</div>
                                <div class="description">
                                    Elliot Fu is a film-maker from New York.
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Elliot Fu</div>
                                <div class="description">
                                    Elliot Fu is a film-maker from New York.
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">

        </div>
    </body>
</html>